body {
    background-color: rgb(245, 228, 208);
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", serif;
   
}
/*Font family and background color added */